<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the NuDev <%= title %> Page</h1><br><br>
      <p>Hello and welcome to the final project for COMP229 - Web Application Development. We are group 2 - The NuDev Team.
        The NuDev Team consists of Vivian Dang (Project Manager), Alphonse Maria Boban(UI Programmer), Suhaib AL Baradan (Web Designer), Hussein Abed (Database Programmer), and Rahab Hossain (Security Programmer).</p>
      <p>Here at NuDev, we have a list of user-created surveys for you to take. 
        After registering an account with us, you can create your own survey, edit a survey, delete a survey, and take a survey!
        You will also have the option to email the results of your survey.</p>
    </div>
  </main>

  <div class="p-5 text-center bg-image rounded-3" style="
  background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2016/04/survey.png');
  background-size:100% 100%;
">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Lets Get Started Here</h1>
      <h4 class="mb-3">Click The Buttons To Login or Register </h4>
      <a class="btn btn-outline-light btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-outline-light btn-lg" href="/register" role="button">Register</a>
      
    </div>
  </div>
</div>
</div>
  
<%- include ('partials/bottom_nav.ejs') %>  

<%- include ('partials/footer.ejs') %>
  