<!-- //COMP229-Assignment-2-Vivian-Dang-302278335 -->
<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>
  


<!-- Main Content -->
<main class="container">
    <!--add boostrap table code-->
  
    <div class="row">
      <div class="col-md-offset-3 col-md-8">
        <h1><%=title %></h1>
        
        <br />

        <form action="mailto:" method="post" enctype="text/plain" name="form">
              <h4>Question 1: </h4>
              <h6><input type="text" name="Question 1" value="<%=surveyAnswer.q1%>" readonly></h6><br>
              <h4>Answer 1: </h4>
              <h6><input type="text" name="Answer 1" value="<%=surveyAnswer.a1%>" readonly></h6><hr><br><br>
              
              <h4>Question 2: </h4>
              <h6><input type="text" name="Question 2" value="<%=surveyAnswer.q2%>" readonly><br></h6>
              <h4>Answer 2: </h4>
              <h6><input type="text" name="Answer 2" value="<%=surveyAnswer.a2%>" readonly></h6><hr><br><br>

              <h4>Question 3: </h4>
              <h6><input type="text" name="Question 3" value="<%=surveyAnswer.q3%>" readonly></h6><br>
              <h4>Answer 3: </h4>
              <h6><input type="text" name="Answer 3" value="<%=surveyAnswer.a3%>" readonly></h6><br><br>

            <input type="submit" value="Email Results">
            <a href="/survey"><input type="button" value="Cancel"></a>
          </form>

      </div>
    </div>
  </main>
  
  
  
<%- include ('../partials/bottom_nav.ejs') %>  

<%- include ('../partials/footer.ejs') %>
  

